<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手语指南</title>
    <style>
        .img_con {
            width: 120px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table {
            margin: auto;
        }
    </style>
</head>
<body>

<table>
    {% for guide in guides %}
        {% set outer_index = loop.index %}
        <tr>
            <td style="font-weight: bold">{{ guide.title }}</td>
            <td>
                {% for i in range(1, guide.num + 1) %}
                    <img class="img_con" src="../static/deaf_guide/{{ outer_index }}-{{ i }}.jpg" alt="">
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>